Latest Dash/Dash.json
[
    {
        "id": "a112030a98473627",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7bd46d2847cc74a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b55e11bdc6867f8a",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67b25dcb3d1a50c6",
        "type": "tab",
        "label": "EMAIL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1b788b86fcbfaa9",
        "type": "group",
        "z": "a112030a98473627",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d5274b7dbf43767",
            "963a401f06b2443e",
            "28700ea2934c9ea1",
            "f3c2ae4e4503c241"
        ],
        "x": 294,
        "y": 19,
        "w": 392,
        "h": 122
    },
    {
        "id": "f2c343e73753f224",
        "type": "group",
        "z": "a112030a98473627",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f0efa45a17721c0b",
            "a340b30e94eb3c06",
            "55248a3d43c58aa2",
            "a912128c4d764bb0"
        ],
        "x": 294,
        "y": 159,
        "w": 392,
        "h": 122
    },
    {
        "id": "2b3b70896d432b45",
        "type": "group",
        "z": "a112030a98473627",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5bec02d9e2b51780",
            "f6ddc90a8e9d9f97",
            "db0e538539fbf70f",
            "4252570bbfde2830"
        ],
        "x": 234,
        "y": 299,
        "w": 292,
        "h": 142
    },
    {
        "id": "0811330471f02c93",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.industries",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ac36f47d9e12761",
        "type": "ui_tab",
        "name": "Records",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab084d3dd2205759",
        "type": "ui_group",
        "name": "Start Time ",
        "tab": "5ac36f47d9e12761",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e8dc1870e25a8b7",
        "type": "ui_group",
        "name": "End Time ",
        "tab": "5ac36f47d9e12761",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b915d7d8b0d4e80d",
        "type": "ui_group",
        "name": "Table",
        "tab": "5ac36f47d9e12761",
        "order": 5,
        "disp": true,
        "width": 21,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4970a9ab50ee9fe1",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4c9253a0fb1ebaf5",
        "type": "ui_group",
        "name": "Date",
        "tab": "5ac36f47d9e12761",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd0e3ff0fb66f443",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7840ef051be836d9",
        "type": "ui_group",
        "name": "monitor Parent",
        "tab": "dd0e3ff0fb66f443",
        "order": 6,
        "disp": false,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e43d6fe6a8db4b85",
        "type": "ui_tab",
        "name": "Mail Data",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a9a4e4120daf6b43",
        "type": "ui_group",
        "name": "email",
        "tab": "e43d6fe6a8db4b85",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d5274b7dbf43767",
        "type": "ui_dropdown",
        "z": "a112030a98473627",
        "g": "d1b788b86fcbfaa9",
        "name": "",
        "label": "Hours",
        "tooltip": "",
        "place": "Hours",
        "group": "ab084d3dd2205759",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "00",
                "value": "00",
                "type": "str"
            },
            {
                "label": "01",
                "value": "01",
                "type": "str"
            },
            {
                "label": "02",
                "value": "02",
                "type": "str"
            },
            {
                "label": "03",
                "value": "03",
                "type": "str"
            },
            {
                "label": "04",
                "value": "04",
                "type": "str"
            },
            {
                "label": "05",
                "value": "05",
                "type": "str"
            },
            {
                "label": "06",
                "value": "06",
                "type": "str"
            },
            {
                "label": "07",
                "value": "07",
                "type": "str"
            },
            {
                "label": "08",
                "value": "08",
                "type": "str"
            },
            {
                "label": "09",
                "value": "09",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "f3c2ae4e4503c241"
            ]
        ]
    },
    {
        "id": "963a401f06b2443e",
        "type": "ui_dropdown",
        "z": "a112030a98473627",
        "g": "d1b788b86fcbfaa9",
        "name": "",
        "label": "Minutes",
        "tooltip": "",
        "place": "Minutes",
        "group": "ab084d3dd2205759",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "00",
                "value": "00",
                "type": "str"
            },
            {
                "label": "01",
                "value": "01",
                "type": "str"
            },
            {
                "label": "02",
                "value": "02",
                "type": "str"
            },
            {
                "label": "03",
                "value": "03",
                "type": "str"
            },
            {
                "label": "04",
                "value": "04",
                "type": "str"
            },
            {
                "label": "05",
                "value": "05",
                "type": "str"
            },
            {
                "label": "06",
                "value": "06",
                "type": "str"
            },
            {
                "label": "07",
                "value": "07",
                "type": "str"
            },
            {
                "label": "08",
                "value": "08",
                "type": "str"
            },
            {
                "label": "09",
                "value": "09",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            },
            {
                "label": "24",
                "value": "24",
                "type": "str"
            },
            {
                "label": "25",
                "value": "25",
                "type": "str"
            },
            {
                "label": "26",
                "value": "26",
                "type": "str"
            },
            {
                "label": "27",
                "value": "27",
                "type": "str"
            },
            {
                "label": "28",
                "value": "28",
                "type": "str"
            },
            {
                "label": "29",
                "value": "29",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            },
            {
                "label": "31",
                "value": "31",
                "type": "str"
            },
            {
                "label": "32",
                "value": "32",
                "type": "str"
            },
            {
                "label": "33",
                "value": "33",
                "type": "str"
            },
            {
                "label": "34",
                "value": "34",
                "type": "str"
            },
            {
                "label": "35",
                "value": "35",
                "type": "str"
            },
            {
                "label": "36",
                "value": "36",
                "type": "str"
            },
            {
                "label": "37",
                "value": "37",
                "type": "str"
            },
            {
                "label": "38",
                "value": "38",
                "type": "str"
            },
            {
                "label": "39",
                "value": "39",
                "type": "str"
            },
            {
                "label": "40",
                "value": "40",
                "type": "str"
            },
            {
                "label": "41",
                "value": "41",
                "type": "str"
            },
            {
                "label": "42",
                "value": "42",
                "type": "str"
            },
            {
                "label": "43",
                "value": "43",
                "type": "str"
            },
            {
                "label": "44",
                "value": "44",
                "type": "str"
            },
            {
                "label": "45",
                "value": "45",
                "type": "str"
            },
            {
                "label": "46",
                "value": "46",
                "type": "str"
            },
            {
                "label": "47",
                "value": "47",
                "type": "str"
            },
            {
                "label": "48",
                "value": "48",
                "type": "str"
            },
            {
                "label": "49",
                "value": "49",
                "type": "str"
            },
            {
                "label": "50",
                "value": "50",
                "type": "str"
            },
            {
                "label": "51",
                "value": "51",
                "type": "str"
            },
            {
                "label": "52",
                "value": "52",
                "type": "str"
            },
            {
                "label": "53",
                "value": "53",
                "type": "str"
            },
            {
                "label": "54",
                "value": "54",
                "type": "str"
            },
            {
                "label": "55",
                "value": "55",
                "type": "str"
            },
            {
                "label": "56",
                "value": "56",
                "type": "str"
            },
            {
                "label": "57",
                "value": "57",
                "type": "str"
            },
            {
                "label": "58",
                "value": "58",
                "type": "str"
            },
            {
                "label": "59",
                "value": "59",
                "type": "str"
            },
            {
                "label": "60",
                "value": "60",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "28700ea2934c9ea1"
            ]
        ]
    },
    {
        "id": "28700ea2934c9ea1",
        "type": "function",
        "z": "a112030a98473627",
        "g": "d1b788b86fcbfaa9",
        "name": "Set Minutes START",
        "func": "flow.set(\"MinutesT\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f3c2ae4e4503c241",
        "type": "function",
        "z": "a112030a98473627",
        "g": "d1b788b86fcbfaa9",
        "name": "Set Hours START",
        "func": "flow.set(\"HoursT\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "448a7192e07bf6ab",
        "type": "ui_button",
        "z": "a112030a98473627",
        "name": "",
        "group": "ab084d3dd2205759",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Generate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 520,
        "wires": [
            [
                "5af05d18416ae92b"
            ]
        ]
    },
    {
        "id": "5af05d18416ae92b",
        "type": "function",
        "z": "a112030a98473627",
        "name": "Time Payload",
        "func": "var minutesT = flow.get(\"MinutesT\");\nvar hoursT = flow.get(\"HoursT\");\nvar minutesE = flow.get(\"MinutesE\");\nvar hoursE = flow.get(\"HoursE\");\n\nvar dateStart = flow.get(\"startDate\");\nvar dateEnd =flow.get(\"endDate\");\n\nvar dateT = new Date(dateStart);\nvar dateE = new Date(dateEnd);\n\nvar dayT = dateT.getDate();\nvar dayE = dateE.getDate();\n\nvar monthT = dateT.getMonth() + 1;\nvar yearT = dateT.getFullYear();\n\nvar dayE = dateE.getDate();\nvar monthE = dateE.getMonth() + 1;\nvar yearE = dateE.getFullYear();\n\n\nvar formattedDateE = `${yearE}-${monthE.toString().padStart(2, '0')}-${dayE.toString().padStart(2, '0')}`;\nvar formattedDateT = `${yearT}-${monthT.toString().padStart(2, '0')}-${dayT.toString().padStart(2, '0')}`;\n\n\nvar startV=formattedDateT+\" \"+ hoursT +\":\"+ minutesT+\":00\";\nvar endV=formattedDateE+\" \"+ hoursE +\":\"+ minutesE+\":00\";\n\nmsg.topic = \"SELECT temperature, humidity FROM nodeRedDB WHERE upLinkTime > '\" + startV + \"' AND upLinkTime < '\" + endV + \"'\";\n\nreturn msg;\n\n\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f0efa45a17721c0b",
        "type": "function",
        "z": "a112030a98473627",
        "g": "f2c343e73753f224",
        "name": "Set Minutes END",
        "func": "flow.set(\"MinutesE\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a340b30e94eb3c06",
        "type": "ui_dropdown",
        "z": "a112030a98473627",
        "g": "f2c343e73753f224",
        "name": "",
        "label": "Hours",
        "tooltip": "",
        "place": "Hours",
        "group": "2e8dc1870e25a8b7",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "00",
                "value": "00",
                "type": "str"
            },
            {
                "label": "01",
                "value": "01",
                "type": "str"
            },
            {
                "label": "02",
                "value": "02",
                "type": "str"
            },
            {
                "label": "03",
                "value": "03",
                "type": "str"
            },
            {
                "label": "04",
                "value": "04",
                "type": "str"
            },
            {
                "label": "05",
                "value": "05",
                "type": "str"
            },
            {
                "label": "06",
                "value": "06",
                "type": "str"
            },
            {
                "label": "07",
                "value": "07",
                "type": "str"
            },
            {
                "label": "08",
                "value": "08",
                "type": "str"
            },
            {
                "label": "09",
                "value": "09",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "a912128c4d764bb0"
            ]
        ]
    },
    {
        "id": "55248a3d43c58aa2",
        "type": "ui_dropdown",
        "z": "a112030a98473627",
        "g": "f2c343e73753f224",
        "name": "",
        "label": "Minutes",
        "tooltip": "",
        "place": "Minutes",
        "group": "2e8dc1870e25a8b7",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "00",
                "value": "00",
                "type": "str"
            },
            {
                "label": "01",
                "value": "01",
                "type": "str"
            },
            {
                "label": "02",
                "value": "02",
                "type": "str"
            },
            {
                "label": "03",
                "value": "03",
                "type": "str"
            },
            {
                "label": "04",
                "value": "04",
                "type": "str"
            },
            {
                "label": "05",
                "value": "05",
                "type": "str"
            },
            {
                "label": "06",
                "value": "06",
                "type": "str"
            },
            {
                "label": "07",
                "value": "07",
                "type": "str"
            },
            {
                "label": "08",
                "value": "08",
                "type": "str"
            },
            {
                "label": "09",
                "value": "09",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            },
            {
                "label": "24",
                "value": "24",
                "type": "str"
            },
            {
                "label": "25",
                "value": "25",
                "type": "str"
            },
            {
                "label": "26",
                "value": "26",
                "type": "str"
            },
            {
                "label": "27",
                "value": "27",
                "type": "str"
            },
            {
                "label": "28",
                "value": "28",
                "type": "str"
            },
            {
                "label": "29",
                "value": "29",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            },
            {
                "label": "31",
                "value": "31",
                "type": "str"
            },
            {
                "label": "32",
                "value": "32",
                "type": "str"
            },
            {
                "label": "33",
                "value": "33",
                "type": "str"
            },
            {
                "label": "34",
                "value": "34",
                "type": "str"
            },
            {
                "label": "35",
                "value": "35",
                "type": "str"
            },
            {
                "label": "36",
                "value": "36",
                "type": "str"
            },
            {
                "label": "37",
                "value": "37",
                "type": "str"
            },
            {
                "label": "38",
                "value": "38",
                "type": "str"
            },
            {
                "label": "39",
                "value": "39",
                "type": "str"
            },
            {
                "label": "40",
                "value": "40",
                "type": "str"
            },
            {
                "label": "41",
                "value": "41",
                "type": "str"
            },
            {
                "label": "42",
                "value": "42",
                "type": "str"
            },
            {
                "label": "43",
                "value": "43",
                "type": "str"
            },
            {
                "label": "44",
                "value": "44",
                "type": "str"
            },
            {
                "label": "45",
                "value": "45",
                "type": "str"
            },
            {
                "label": "46",
                "value": "46",
                "type": "str"
            },
            {
                "label": "47",
                "value": "47",
                "type": "str"
            },
            {
                "label": "48",
                "value": "48",
                "type": "str"
            },
            {
                "label": "49",
                "value": "49",
                "type": "str"
            },
            {
                "label": "50",
                "value": "50",
                "type": "str"
            },
            {
                "label": "51",
                "value": "51",
                "type": "str"
            },
            {
                "label": "52",
                "value": "52",
                "type": "str"
            },
            {
                "label": "53",
                "value": "53",
                "type": "str"
            },
            {
                "label": "54",
                "value": "54",
                "type": "str"
            },
            {
                "label": "55",
                "value": "55",
                "type": "str"
            },
            {
                "label": "56",
                "value": "56",
                "type": "str"
            },
            {
                "label": "57",
                "value": "57",
                "type": "str"
            },
            {
                "label": "58",
                "value": "58",
                "type": "str"
            },
            {
                "label": "59",
                "value": "59",
                "type": "str"
            },
            {
                "label": "60",
                "value": "60",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "f0efa45a17721c0b"
            ]
        ]
    },
    {
        "id": "a912128c4d764bb0",
        "type": "function",
        "z": "a112030a98473627",
        "g": "f2c343e73753f224",
        "name": "Set Hours END",
        "func": "flow.set(\"HoursE\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "19f82a69ef10ec91",
        "type": "ui_chart",
        "z": "a112030a98473627",
        "name": "",
        "group": "b915d7d8b0d4e80d",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperature  vs Humidity",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5bec02d9e2b51780",
        "type": "ui_date_picker",
        "z": "a112030a98473627",
        "g": "2b3b70896d432b45",
        "name": "",
        "label": "Start",
        "group": "4c9253a0fb1ebaf5",
        "order": 1,
        "width": 4,
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "str",
        "className": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "db0e538539fbf70f"
            ]
        ]
    },
    {
        "id": "f6ddc90a8e9d9f97",
        "type": "ui_date_picker",
        "z": "a112030a98473627",
        "g": "2b3b70896d432b45",
        "name": "",
        "label": "End",
        "group": "4c9253a0fb1ebaf5",
        "order": 2,
        "width": 4,
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "str",
        "className": "",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "4252570bbfde2830"
            ]
        ]
    },
    {
        "id": "db0e538539fbf70f",
        "type": "function",
        "z": "a112030a98473627",
        "g": "2b3b70896d432b45",
        "name": "Start Date",
        "func": "flow.set(\"startDate\",  msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4252570bbfde2830",
        "type": "function",
        "z": "a112030a98473627",
        "g": "2b3b70896d432b45",
        "name": "END Date",
        "func": "flow.set(\"endDate\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "bbd0a49ede53bdfe",
        "type": "function",
        "z": "a112030a98473627",
        "name": "Draw Charts",
        "func": "var dataFromDatabase = msg.payload;\nvar seriesX = [];\nvar seriesY = [];\nvar labels = [];\n\nfor (var i = 0; i < dataFromDatabase.length; i++) {\n    var record = dataFromDatabase[i];\n\n    // Check if the required properties are present\n    if (record && record.temperature && record.humidity) {\n        var temperature = parseFloat(record.temperature);\n        var humidity = parseFloat(record.humidity);\n\n        // Push data points to respective series arrays\n        seriesX.push(temperature);\n        seriesY.push(humidity);\n        labels.push(\"\"); // Adjust as needed\n    } else {\n        console.log(\"Invalid record:\", record);\n    }\n}\n\n// Create a payload with the desired data format\nmsg.payload = [\n    {\n        series: [\"Temperature\", \"Humidity\"],\n        data: [seriesX, seriesY],\n        labels: labels\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 520,
        "wires": [
            [
                "19f82a69ef10ec91"
            ]
        ]
    },
    {
        "id": "7657bd2d7d4e64cd",
        "type": "mqtt in",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "topic": "v3/siya-test-app@siya-ss/devices/eui-70b3d57ed8002623/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0811330471f02c93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "c5ae7de90af6ade4",
                "283f08d232b17abf",
                "67f2319b706783cc",
                "1c7a471cf1c0515d",
                "65c6c1ccc013228a"
            ]
        ]
    },
    {
        "id": "dcbef6e63ece3f60",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "Sent Data to Database",
        "func": "const SUPABASE_API_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwYWN6dXZ3bHNqc2FvdGFya3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU5OTQ5MjMsImV4cCI6MjA2MTU3MDkyM30.d1M_7Jfdyeow9OMHdUuQoKjxNR5SIhVZx86vkbL-kWs\"; \n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"apikey\": SUPABASE_API_KEY,\n    \"Authorization\": \"Bearer \" + SUPABASE_API_KEY\n};\n\nvar presureValue = msg.payload['uplink_message']['decoded_payload']['barometric_pressure_3']\nvar humidityValue = msg.payload['uplink_message']['decoded_payload']['relative_humidity_2']\nvar temperatureValue = msg.payload['uplink_message']['decoded_payload']['temperature_1']\nvar gas=msg.payload['uplink_message']['decoded_payload']['analog_in_1']\nvar smoke=msg.payload['uplink_message']['decoded_payload']['analog_in_2']\nvar deviceNameValue = 'TTGO Lora32';\n\nmsg.payload = {\n    temperature:temperatureValue,  \n    humidity: humidityValue,\n    presure:presureValue,\n    smoke:smoke,\n    gas:gas,\n    device_name:deviceNameValue,\n};\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "6b82515b34ecc3c1"
            ]
        ]
    },
    {
        "id": "c5ae7de90af6ade4",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "Humidity",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['relative_humidity_2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "1bd60a1c58e81f57",
                "d22fec0dee876e5f",
                "a24a68bb2b04ab76"
            ]
        ]
    },
    {
        "id": "283f08d232b17abf",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "Pressure",
        "func": "msg.payload=msg.payload['uplink_message']['decoded_payload']['barometric_pressure_3']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "fe12c3a498c8d88b",
                "088aa151c39412da",
                "f3d48503d2e30eb8"
            ]
        ]
    },
    {
        "id": "faf3ade89dde7813",
        "type": "ui_text",
        "z": "c7bd46d2847cc74a",
        "group": "7840ef051be836d9",
        "order": 10,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i> ",
        "format": "{{msg.payload}}°",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "35",
        "color": "#ffffff",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "e76ec6cd7c217e38",
        "type": "ui_chart",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 1,
        "width": 10,
        "height": 8,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1bd60a1c58e81f57",
        "type": "ui_text",
        "z": "c7bd46d2847cc74a",
        "group": "7840ef051be836d9",
        "order": 9,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "<i class=\"fa fa-tint\" aria-hidden=\"true\"></i>",
        "format": "{{msg.payload}}%",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "35",
        "color": "#ffffff",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "d22fec0dee876e5f",
        "type": "ui_chart",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 2,
        "width": 10,
        "height": 8,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fe12c3a498c8d88b",
        "type": "ui_chart",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 3,
        "width": 10,
        "height": 8,
        "label": "Presure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "750",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "67f2319b706783cc",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "Temperature",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['temperature_1']\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 240,
        "wires": [
            [
                "e76ec6cd7c217e38",
                "faf3ade89dde7813",
                "feee6d299783ed44"
            ]
        ]
    },
    {
        "id": "088aa151c39412da",
        "type": "ui_text",
        "z": "c7bd46d2847cc74a",
        "group": "7840ef051be836d9",
        "order": 11,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "<i class=\"fa fa-flask\" aria-hidden=\"true\"></i>",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "35",
        "color": "#ffffff",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3d48503d2e30eb8",
        "type": "ui_gauge",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "a24a68bb2b04ab76",
        "type": "ui_gauge",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "feee6d299783ed44",
        "type": "ui_gauge",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "1c7a471cf1c0515d",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "gas",
        "func": "var gasValue = msg.payload['uplink_message']['decoded_payload']['analog_in_1']\nmsg.payload = parseInt(gasValue, 10); \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 520,
        "wires": [
            [
                "ffce9fbbf68a9368"
            ]
        ]
    },
    {
        "id": "ffce9fbbf68a9368",
        "type": "ui_chart",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 4,
        "width": "11",
        "height": "5",
        "label": "gas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "65c6c1ccc013228a",
        "type": "function",
        "z": "c7bd46d2847cc74a",
        "name": "smoke",
        "func": "var gasValue = msg.payload['uplink_message']['decoded_payload']['analog_in_2']\nmsg.payload = parseInt(gasValue, 10); \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 600,
        "wires": [
            [
                "09642181b09b7e0f"
            ]
        ]
    },
    {
        "id": "09642181b09b7e0f",
        "type": "ui_chart",
        "z": "c7bd46d2847cc74a",
        "name": "",
        "group": "7840ef051be836d9",
        "order": 5,
        "width": "10",
        "height": "4",
        "label": "smoke",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "6b82515b34ecc3c1",
        "type": "http request",
        "z": "c7bd46d2847cc74a",
        "name": "GET Supabase Data",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://lpaczuvwlsjsaotarkrj.supabase.co/rest/v1/air_quality_mon",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "466504bde0a8e0a9"
            ]
        ]
    },
    {
        "id": "466504bde0a8e0a9",
        "type": "debug",
        "z": "c7bd46d2847cc74a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 140,
        "wires": []
    },
    {
        "id": "1",
        "type": "inject",
        "z": "b55e11bdc6867f8a",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "1ec65f28d9bc6299"
            ]
        ]
    },
    {
        "id": "2",
        "type": "function",
        "z": "b55e11bdc6867f8a",
        "name": "Set Headers and URL",
        "func": "const SUPABASE_API_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwYWN6dXZ3bHNqc2FvdGFya3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU5OTQ5MjMsImV4cCI6MjA2MTU3MDkyM30.d1M_7Jfdyeow9OMHdUuQoKjxNR5SIhVZx86vkbL-kWs\"; \n\n\n// Prepare request headers\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"apikey\": SUPABASE_API_KEY,\n    \"Authorization\": \"Bearer \" + SUPABASE_API_KEY\n};\n\n// Example data (Replace with real sensor data)\nmsg.payload = {\n    temperature: Math.random() * 40,  // Simulated temperature\n    humidity: Math.random() * 100,  // Simulated humidity\n};\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3",
        "type": "http request",
        "z": "b55e11bdc6867f8a",
        "name": "GET Supabase Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "4"
            ]
        ]
    },
    {
        "id": "4",
        "type": "debug",
        "z": "b55e11bdc6867f8a",
        "name": "Show Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ec65f28d9bc6299",
        "type": "function",
        "z": "b55e11bdc6867f8a",
        "name": "Select ALL",
        "func": "const SUPABASE_API_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwYWN6dXZ3bHNqc2FvdGFya3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU5OTQ5MjMsImV4cCI6MjA2MTU3MDkyM30.d1M_7Jfdyeow9OMHdUuQoKjxNR5SIhVZx86vkbL-kWs\"; \n\n\nmsg.headers = {\n    \"apikey\": SUPABASE_API_KEY,\n    \"Authorization\": \"Bearer \" + SUPABASE_API_KEY,\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.method = \"GET\";\nmsg.url = \"https://lpaczuvwlsjsaotarkrj.supabase.co/rest/v1/air_quality_mon?select=*\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "3"
            ]
        ]
    },
    {
        "id": "7aec32856c287ec3",
        "type": "e-mail",
        "z": "67b25dcb3d1a50c6",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "9950d287e3baf031",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "send mail",
        "func": " var email_ = flow.get(\"email\");   // || \"sswjgy7@gmail.com\";\nvar emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (emailRegex.test(email_)) {\n    msg.payload = \"Hello from Node-RED\";\n    msg.topic = \"Heading Node_\";\n    msg.to = email_;\n    return [msg, null];  // Output 1: Send email\n} else {\n    var warningMsg = {};\n    warningMsg.payload = \"Invalid email address: \" + email_;\n    return [null, warningMsg];  // Output 2: Send notification\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6d1395a8a3cb1406",
        "type": "inject",
        "z": "67b25dcb3d1a50c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "b6c241915a15bca3"
            ]
        ]
    },
    {
        "id": "f97610e8b8ebdd4d",
        "type": "ui_text_input",
        "z": "67b25dcb3d1a50c6",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "a9a4e4120daf6b43",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "66c5f507ba6b2a3a"
            ]
        ]
    },
    {
        "id": "66c5f507ba6b2a3a",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "Get mail",
        "func": "flow.set(\"email\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3f531062a740f01e",
        "type": "ui_button",
        "z": "67b25dcb3d1a50c6",
        "name": "",
        "group": "a9a4e4120daf6b43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b6c241915a15bca3"
            ]
        ]
    },
    {
        "id": "b5764babf2b822e4",
        "type": "ui_toast",
        "z": "67b25dcb3d1a50c6",
        "position": "top right",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "b6c241915a15bca3",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "Validate Email",
        "func": " var email_ = flow.get(\"email\");   // || \"sswjgy7@gmail.com\";\nvar emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (emailRegex.test(email_)) {\n    msg.payload = \"Email Sent\";\n    global.set(\"valid\",true);\n    return msg;\n\n} else {\n    msg.payload = \"Enter Valid Email!\";\n    global.set(\"valid\",false);\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "b5764babf2b822e4",
                "6f0f04ce966f3e9e"
            ]
        ]
    },
    {
        "id": "6f0f04ce966f3e9e",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "send mail",
        "func": "var email_ = flow.get(\"email\");   // || \"sswjgy7@gmail.com\";\nvar heading_ = flow.get(\"heading\");\nvar valid_ = global.get(\"valid\");\n\n\nif (valid_ ==true) {\n    msg.payload = \"Hello from Node-RED\";\n    msg.topic = heading_;\n    msg.to = email_;\n    return [msg, null];  // Output 1: Send email\n} else {\n   \n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 320,
        "wires": [
            [
                "823a96dd7bf1d8d0"
            ]
        ]
    },
    {
        "id": "8ef6007201ac4409",
        "type": "ui_text_input",
        "z": "67b25dcb3d1a50c6",
        "name": "",
        "label": "Heading",
        "tooltip": "",
        "group": "a9a4e4120daf6b43",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "326fdba19391d2f4"
            ]
        ]
    },
    {
        "id": "326fdba19391d2f4",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "Get Heading",
        "func": "flow.set(\"heading\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "63bb1bf70e8d0cc8",
        "type": "debug",
        "z": "67b25dcb3d1a50c6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "f46614d96b9e54e4",
        "type": "http request",
        "z": "67b25dcb3d1a50c6",
        "name": "GET Supabase Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "7aec32856c287ec3",
                "63bb1bf70e8d0cc8"
            ]
        ]
    },
    {
        "id": "823a96dd7bf1d8d0",
        "type": "function",
        "z": "67b25dcb3d1a50c6",
        "name": "Select ALL",
        "func": "const SUPABASE_API_KEY = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwYWN6dXZ3bHNqc2FvdGFya3JqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU5OTQ5MjMsImV4cCI6MjA2MTU3MDkyM30.d1M_7Jfdyeow9OMHdUuQoKjxNR5SIhVZx86vkbL-kWs\"; \n\n\nmsg.headers = {\n    \"apikey\": SUPABASE_API_KEY,\n    \"Authorization\": \"Bearer \" + SUPABASE_API_KEY,\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.method = \"GET\";\nmsg.url = \"https://lpaczuvwlsjsaotarkrj.supabase.co/rest/v1/air_quality_mon?select=*\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "f46614d96b9e54e4"
            ]
        ]
    }
]